{% set data = value.data %}
<table class=table>
	{% if value.first_row_is_table_header %}
	{% set body = data[1:] %}
	<thead>
		{% for col in data[0] %}
		<th>{{ col }}</th>
		{% endfor %}
	</thead>
	{% else %}
		{% set body = data %}
	{% endif %}
	<tbody>
	{% for row in body %}
		<tr>
		{% for col in row %}
			{% if loop.index == 1 %}
				{% if value.first_col_is_header %}
				<th>{{ col }}</th>
				{% else %}
				<td>{{ col }}</td>
				{% endif %}
			{% else %}
			<td>{{ col }}</td>
			{% endif %}
		{% endfor %}
		</tr>
	{% endfor %}
	</tbody>
</table>
