{% if value.show_title %}
<h2>{{ value.title }}</h2>
{% endif %}
<div>{{ value.subtitle }}</div>

<div id="carousel-{{ value.title }}" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
	{% for block in value.content %}
		<div class="item {% if loop.index == 1 %}active{% endif %}">
			<section class="container {{ block.block.name }}">{% include_block block %}</section>
		</div>
	{% endfor %}
	</div>
	<a class="left carousel-control" href="#carousel-{{ value.title }}" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-{{ value.title }}" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	    <span class="sr-only">Next</span>
	  </a>
</div>
