{% if value.show_title %}
<h2 class="section-title">{{ value.title }}</h2>
{% endif %}
<div class="section-subtitle">{{ value.subtitle|richtext }}</div>

<ul class="components container">
	{% for item in value.elements %}
	<li class="item {% if loop.index == 1 and 'col-md-2' in value.count_class %}col-md-offset-1{% endif %} {{ value.count_class}}">
		{{ item.render_as_block() }}
	</li>
	{% endfor %}
</ul>
