{% if value.show_title %}
<h2 class="section-title">{{ value.title }}</h2>
{% endif %}
<div class="section-subtitle">{{ value.subtitle }}</div>

{% if value.content.data %}
	{% set data = value.content.data %}
	<table class=table>
		{% if value.content.first_row_is_table_header %}
		{% set body = data[1:] %}
		<thead>
			{% for col in data[0] %}
			<th>{{ col }}</th>
			{% endfor %}
		</thead>
		{% else %}
			{% set body = data %}
		{% endif %}
		<tbody>
		{% for row in body %}
			<tr>
			{% for col in row %}
				{% if loop.index == 1 %}
					{% if value.content.first_col_is_header %}
					<th>{{ col }}</th>
					{% else %}
					<td>{{ col }}</td>
					{% endif %}
				{% else %}
				<td>{{ col }}</td>
				{% endif %}
			{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
