<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}

            {% block title_suffix %}
                {% set site_name = page.get_site.site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Perform javascript #}
        <script type="text/javascript" src="/static/build/vendor.bundle.js"></script>

        {# Global stylesheets #}
        <!-- <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css'"> -->

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {{ wagtailuserbar() }}

        {% set root = page.get_site().root_page %}

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand">
                        <a href="{{ root.url }}">
                            <span>Marble</span>
                        </a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    {% for menu_page in root.get_children() %}
                        {% if menu_page.show_in_menus %}
                        <li><a href="{{ menu_page.url }}">{{ menu_page.title.upper() }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>     
        </nav>

        <article class="content">
        {% block content %}{% endblock %}
        </article>
        {# Global javascript #}
        <script type="text/javascript" src="/static/build/base.bundle.js"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

        <footer class="footer">
            <div class="container">
                <span class="row">Created by: marble.community</span>
                <span class="row">Powered by: Wagtail</span>
            </div>
        </footer>
    </body>
</html>
