section .components .item {
	text-align: center;
	list-style: none;
}

section h1, section h2.section-title, section div.section-subtitle {
	text-align: center;
}

section .components .item img {
	width: 100%;
	height: auto;
	max-width: 320px;
}

section.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
