{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-hash">
  <div class="container">
    <ul class="nav navbar-nav"></ul>
  </div>
</nav>
<section class="main">
  <div class="container">
    <h1>{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2>{{ page.subtitle }}</h2>
    {% endif %}
  </div>
</section>
{% for block in page.body %}
{% set block_name = block.value.title|getvalididentity %}
<!-- background_image - это объект типа WagtailImage у который рендерится jinja2 как img() -->
{% set background_image = image(block.value.background, 'original') %}
<section id="section-{{ block.block.name }}-{{ block_name }}" name="{{ block.value.title }}" class="block-section {{ block.block.name }} {% if block.value.animate_background %} parallax {% endif %}" {% if background_image %} style="background-image: url(/media/{{ background_image.file }});" {% endif %} >
  <div class="container">
    <!-- В данном случае если мы попробуем использовать background_image, то получим <img src="..."/> - это не то что нам нужно, нам нужен путь к изображению , а не само изображение.-->
    <!-- Для того чтобы извлечь путь к изображению background_image, нужно обратиться к атрибуту file с препиской /media/ иначе путь будет не полным. -->
    <!-- Прилагаю рвбочий пример -->
    <!-- <div style="background-image: url(/media/{{ background_image.file }});"></div> -->
    {% include_block block %}
  </div>
</section>
{% endfor %}
{% if form.fields %}
<section class="request">
  <div class="container">
    <form action="{{ page.url }}" method='POST'>
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.label }}">{{ field.label }}</label>
        {{ field|addbootstrapclass }}
        {% for error in field.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% endfor %}
      <input class="btn btn-primary" type="submit">
    </form>
  </div>
</section>
{% endif %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/build/landing.bundle.js"></script>
{% endblock %}
