html {
	height: 100%;
}

body {
	height: 100%;
}

article.content{
	min-height:100%;
}

footer.footer {
	background-color: #4D4D4D;
	padding: 15px 0px;
	position: static;
	color: #a4a4a4;
	width: 100%;
	bottom: 0;
}