/* Colors */

.red {color:#A3293D!important}
.pink{color:#FD9FC1!important}
.salmon{color:rgba(253, 160, 150, 1)!important}
.lgreen{color:#A9D12B!important}
.green{color:#748A30!important}
.teal {color:#07AB8F!important}
.sky {color:#76C6F3!important}
.skyblue {color:#43A4EF!important}
.blue {color:#506B91!important}
.orange {color:#f76500!important}
.lgray {color:#bbb!important}
.gray {color:#82888E!important}
.xgray {color:#515D68!important}
.brown {color:#574B42!important}
.black {color:#000!important}
.white {color:#fff!important}

.bg-yellow {background-color:#FFE97A!important;}
.bg-orange {background-color:#FF9D4D!important;}
.bg-lgreen {background-color:rgba(173, 224, 31,0.25)!important;}
.bg-lblue {background-color:rgba(142, 211, 255, 0.25)!important;}
.bg-green {background-color:rgba(173, 224, 31,0.5)!important;}
.bg-chalk {background-color: rgba(255, 240, 0, 0.06)!important;}
.bg-lsalmon {background-color: rgba(255, 80, 60, 0.11)!important;}
.bg-salmon {background-color: rgba(255, 80, 60, 0.5)!important;}
.bg-gray {background-color:#CCC!important;}
.bg-lgray {background-color: rgba(0, 10, 20, 0.033)!important;}
.bg-white {background-color:#fff!important}
.bg-red {background-color:#da2727 !important }
.bg-taobao {background-color:rgba(255, 101, 55, 0.3)!important;}
.bg-tmall {background-color:rgba(221, 39, 39, 0.3)!important;}
.bg-t1688 {background-color:rgba(255, 115, 0, 0.3)!important;}
.bg-green-yellow {
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background: -moz-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
    background: linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), rgb(170, 204, 0);
}
.bg-red-yellow {
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), #ff1d1d;
    background: -moz-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), #ff1d1d;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 0), #ff1d1d;
}
.bg-blue-yellow {
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), #76C6F3;
    background: -moz-linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0), #76C6F3;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent 0), #76C6F3;
}

.o10 {opacity:0.1!important}
.o20 {opacity:0.2!important}
.o30 {opacity:0.3!important}
.o40 {opacity:0.4!important}
.o50 {opacity:0.5!important}
.o60 {opacity:0.6!important}
.o70 {opacity:0.7!important}
.o80 {opacity:0.8!important}
.o90 {opacity:0.9!important}
.o100 {opacity:1!important}

/* Width, absolute */

.w1 {width:1px!important;}
.w2 {width:2px!important;}
.w3 {width:3px!important;}
.w4 {width:4px!important;}
.w5 {width:5px!important;}
.w6 {width:6px!important;}
.w7 {width:7px!important;}
.w8 {width:8px!important;}
.w9 {width:9px!important;}
.w10 {width:10px!important;}
.w11 {width:11px!important;}
.w12 {width:12px!important;}
.w13 {width:13px!important;}
.w14 {width:14px!important;}
.w15 {width:15px!important;}
.w16 {width:16px!important;}
.w17 {width:17px!important;}
.w18 {width:18px!important;}
.w19 {width:19px!important;}
.w20 {width:20px!important;}
.w21 {width:21px!important;}
.w22 {width:22px!important;}
.w23 {width:23px!important;}
.w24 {width:24px!important;}
.w25 {width:25px!important;}
.w30 {width:30px!important;}
.w32 {width:32px!important;}
.w35 {width:35px!important;}
.w40 {width:40px!important;}
.w45 {width:45px!important;}
.w48 {width:48px!important;}
.w50 {width:50px!important;}
.w55 {width:55px!important;}
.w60 {width:60px!important;}
.w64 {width:64px!important;}
.w65 {width:65px!important;}
.w70 {width:70px!important;}
.w75 {width:75px!important;}
.w80 {width:80px!important;}
.w85 {width:85px!important;}
.w90 {width:90px!important;}
.w95 {width:95px!important;}
.w96 {width:96px!important;}
.w100 {width:100px!important;}
.w105 {width:105px!important;}
.w110 {width:110px!important;}
.w115 {width:115px!important;}
.w120 {width:120px!important;}
.w125 {width:125px!important;}
.w130 {width:130px!important;}
.w135 {width:135px!important;}
.w140 {width:140px!important;}
.w145 {width:145px!important;}
.w150 {width:150px!important;}
.w155 {width:155px!important;}
.w160 {width:160px!important;}
.w165 {width:165px!important;}
.w170 {width:170px!important;}
.w175 {width:175px!important;}
.w180 {width:180px!important;}
.w185 {width:185px!important;}
.w190 {width:190px!important;}
.w195 {width:195px!important;}
.w200 {width:200px!important;}
.w210 {width:210px!important;}
.w220 {width:220px!important;}
.w230 {width:230px!important;}
.w240 {width:240px!important;}
.w250 {width:250px!important;}
.w260 {width:260px!important;}
.w270 {width:270px!important;}
.w280 {width:280px!important;}
.w290 {width:290px!important;}
.w300 {width:300px!important;}
.w310 {width:310px!important;}
.w320 {width:320px!important;}
.w330 {width:330px!important;}
.w340 {width:340px!important;}
.w350 {width:350px!important;}
.w360 {width:360px!important;}
.w370 {width:370px!important;}
.w380 {width:380px!important;}
.w390 {width:390px!important;}
.w400 {width:400px!important;}
.w420 {width:420px!important;}
.w450 {width:450px!important;}
.w500 {width:500px!important;}
.w520 {width:520px!important;}
.w550 {width:550px!important;}
.w600 {width:600px!important;}
.w620 {width:620px!important;}
.w650 {width:650px!important;}
.w700 {width:700px!important;}
.w720 {width:720px!important;}
.w750 {width:750px!important;}
.w800 {width:800px!important;}
.w820 {width:820px!important;}
.w850 {width:850px!important;}
.w900 {width:900px!important;}
.w920 {width:920px!important;}
.w950 {width:950px!important;}
.w1000 {width:1000px!important;}
.w1050 {width:1050px!important;}
.w1100 {width:1100px!important;}
.w1150 {width:1150px!important;}
.w1160 {width:1160px!important;}
.w1200 {width:1200px!important;}
.w1250 {width:1250px!important;}
.w1300 {width:1300px!important;}
.w1350 {width:1350px!important;}
.w1400 {width:1400px!important;}
.w1450 {width:1450px!important;}
.w1500 {width:1500px!important;}

/* Width, relative */

.w5p {width:5%!important;}
.w10p {width:10%!important;}
.w15p {width:15%!important;}
.w20p {width:20%!important;}
.w25p {width:25%!important;}
.w30p {width:30%!important;}
.w35p {width:35%!important;}
.w40p {width:40%!important;}
.w45p {width:45%!important;}
.w50p {width:50%!important;}
.w55p {width:55%!important;}
.w60p {width:60%!important;}
.w65p {width:65%!important;}
.w70p {width:70%!important;}
.w75p {width:75%!important;}
.w80p {width:80%!important;}
.w85p {width:85%!important;}
.w90p {width:90%!important;}
.w95p {width:95%!important;}
.w100p {width:100%!important;}

/* Height, absolute */

.h5 {height:5px!important;}
.h10 {height:10px!important;}
.h15 {height:15px!important;}
.h16 {height:16px!important;}
.h20 {height:20px!important;}
.h24 {height:24px!important;}
.h25 {height:25px!important;}
.h30 {height:30px!important;}
.h32 {height:32px!important;}
.h35 {height:35px!important;}
.h40 {height:40px!important;}
.h45 {height:45px!important;}
.h48 {height:48px!important;}
.h50 {height:50px!important;}
.h55 {height:55px!important;}
.h60 {height:60px!important;}
.h64 {height:64px!important;}
.h65 {height:65px!important;}
.h70 {height:70px!important;}
.h75 {height:75px!important;}
.h80 {height:80px!important;}
.h85 {height:85px!important;}
.h90 {height:90px!important;}
.h95 {height:95px!important;}
.h96 {height:96px!important;}
.h100 {height:100px!important;}
.h110 {height:110px!important;}
.h120 {height:120px!important;}
.h130 {height:130px!important;}
.h140 {height:140px!important;}
.h150 {height:150px!important;}
.h160 {height:160px!important;}
.h170 {height:170px!important;}
.h180 {height:180px!important;}
.h190 {height:190px!important;}
.h200 {height:200px!important;}
.h250 {height:250px!important;}
.h300 {height:300px!important;}
.h350 {height:350px!important;}
.h400 {height:400px!important;}
.h450 {height:450px!important;}
.h500 {height:500px!important;}
.h550 {height:550px!important;}
.h600 {height:600px!important;}
.h650 {height:650px!important;}
.h700 {height:700px!important;}
.h750 {height:750px!important;}
.h800 {height:800px!important;}
.h850 {height:850px!important;}
.h900 {height:900px!important;}
.h950 {height:950px!important;}
.h1000 {height:1000px!important;}

/* Height, other */

.ha {height:auto!important;}

/* View mode */

.di {display:inline!important}
.dib {display:inline-block!important}
.db {display:block!important}
.di.hide, .db.hide, .dib.hide, .di.filter-nomatch, .db.filter-nomatch, .dib.filter-nomatch {display:none!important}
.oh {overflow:hidden!important;}
.ov {overflow:visible!important;}

.pos-rel { position: relative!important }
.zztop {z-index: 100000!important;}

/* Float */

.fl {float:left;}
.fr {float:right;}
.cb {clear:both}
.cr {clear:right}
.cl {clear:left}

/* Padding */

.p0 {padding:0px!important;}
.p1 {padding:1px!important;}
.p2 {padding:2px!important;}
.p3 {padding:3px!important;}
.p4 {padding:4px!important;}
.p5 {padding:5px!important;}
.p6 {padding:6px!important;}
.p7 {padding:7px!important;}
.p8 {padding:8px!important;}
.p9 {padding:9px!important;}
.p10 {padding:10px!important;}
.p15 {padding:15px!important;}
.p20 {padding:20px!important;}
.p25 {padding:25px!important;}
.p30 {padding:30px!important;}
.p35 {padding:35px!important;}
.p40 {padding:40px!important;}
.p45 {padding:45px!important;}
.p50 {padding:50px!important;}
.p55 {padding:55px!important;}
.p60 {padding:60px!important;}
.p65 {padding:65px!important;}
.p70 {padding:70px!important;}
.p75 {padding:75px!important;}
.p80 {padding:80px!important;}
.p85 {padding:85px!important;}
.p90 {padding:90px!important;}
.p95 {padding:95px!important;}
.p100 {padding:100px!important;}
.p110 {padding:110px!important;}
.p120 {padding:120px!important;}
.p130 {padding:130px!important;}
.p140 {padding:140px!important;}
.p150 {padding:150px!important;}
.p160 {padding:160px!important;}
.p170 {padding:170px!important;}
.p180 {padding:180px!important;}
.p190 {padding:190px!important;}
.p200 {padding:200px!important;}
.p250 {padding:250px!important;}
.p300 {padding:300px!important;}
.p350 {padding:350px!important;}
.p400 {padding:400px!important;}
.p450 {padding:450px!important;}
.p500 {padding:500px!important;}

/* Padding left */

.pl0 {padding-left:0px!important;}
.pl1 {padding-left:1px!important;}
.pl2 {padding-left:2px!important;}
.pl3 {padding-left:3px!important;}
.pl4 {padding-left:4px!important;}
.pl5 {padding-left:5px!important;}
.pl6 {padding-left:6px!important;}
.pl7 {padding-left:7px!important;}
.pl8 {padding-left:8px!important;}
.pl9 {padding-left:9px!important;}
.pl10 {padding-left:10px!important;}
.pl11 {padding-left:11px!important;}
.pl12 {padding-left:12px!important;}
.pl13 {padding-left:13px!important;}
.pl14 {padding-left:14px!important;}
.pl15 {padding-left:15px!important;}
.pl16 {padding-left:16px!important;}
.pl17 {padding-left:17px!important;}
.pl18 {padding-left:18px!important;}
.pl19 {padding-left:19px!important;}
.pl20 {padding-left:20px!important;}
.pl21 {padding-left:21px!important;}
.pl22 {padding-left:22px!important;}
.pl23 {padding-left:23px!important;}
.pl24 {padding-left:24px!important;}
.pl25 {padding-left:25px!important;}
.pl26 {padding-left:26px!important;}
.pl27 {padding-left:27px!important;}
.pl28 {padding-left:28px!important;}
.pl29 {padding-left:29px!important;}
.pl30 {padding-left:30px!important;}
.pl35 {padding-left:35px!important;}
.pl40 {padding-left:40px!important;}
.pl45 {padding-left:45px!important;}
.pl50 {padding-left:50px!important;}
.pl55 {padding-left:55px!important;}
.pl60 {padding-left:60px!important;}
.pl65 {padding-left:65px!important;}
.pl70 {padding-left:70px!important;}
.pl75 {padding-left:75px!important;}
.pl80 {padding-left:80px!important;}
.pl85 {padding-left:85px!important;}
.pl90 {padding-left:90px!important;}
.pl95 {padding-left:95px!important;}
.pl100 {padding-left:100px!important;}
.pl110 {padding-left:110px!important;}
.pl120 {padding-left:120px!important;}
.pl130 {padding-left:130px!important;}
.pl140 {padding-left:140px!important;}
.pl150 {padding-left:150px!important;}
.pl160 {padding-left:160px!important;}
.pl170 {padding-left:170px!important;}
.pl180 {padding-left:180px!important;}
.pl190 {padding-left:190px!important;}
.pl200 {padding-left:200px!important;}

/* Padding right */

.pr0 {padding-right:0px!important;}
.pr1 {padding-right:1px!important;}
.pr2 {padding-right:2px!important;}
.pr3 {padding-right:3px!important;}
.pr4 {padding-right:4px!important;}
.pr5 {padding-right:5px!important;}
.pr6 {padding-right:6px!important;}
.pr7 {padding-right:7px!important;}
.pr8 {padding-right:8px!important;}
.pr9 {padding-right:9px!important;}
.pr10 {padding-right:10px!important;}
.pr11 {padding-right:11px!important;}
.pr12 {padding-right:12px!important;}
.pr13 {padding-right:13px!important;}
.pr14 {padding-right:14px!important;}
.pr15 {padding-right:15px!important;}
.pr16 {padding-right:16px!important;}
.pr17 {padding-right:17px!important;}
.pr18 {padding-right:18px!important;}
.pr19 {padding-right:19px!important;}
.pr20 {padding-right:20px!important;}
.pr21 {padding-right:21px!important;}
.pr22 {padding-right:22px!important;}
.pr23 {padding-right:23px!important;}
.pr24 {padding-right:24px!important;}
.pr25 {padding-right:25px!important;}
.pr26 {padding-right:26px!important;}
.pr27 {padding-right:27px!important;}
.pr28 {padding-right:28px!important;}
.pr29 {padding-right:29px!important;}
.pr30 {padding-right:30px!important;}
.pr35 {padding-right:35px!important;}
.pr40 {padding-right:40px!important;}
.pr45 {padding-right:45px!important;}
.pr50 {padding-right:50px!important;}
.pr55 {padding-right:55px!important;}
.pr60 {padding-right:60px!important;}
.pr65 {padding-right:65px!important;}
.pr70 {padding-right:70px!important;}
.pr75 {padding-right:75px!important;}
.pr80 {padding-right:80px!important;}
.pr85 {padding-right:85px!important;}
.pr90 {padding-right:90px!important;}
.pr95 {padding-right:95px!important;}
.pr100 {padding-right:100px!important;}
.pr110 {padding-right:110px!important;}
.pr120 {padding-right:120px!important;}
.pr130 {padding-right:130px!important;}
.pr140 {padding-right:140px!important;}
.pr150 {padding-right:150px!important;}
.pr160 {padding-right:160px!important;}
.pr170 {padding-right:170px!important;}
.pr180 {padding-right:180px!important;}
.pr190 {padding-right:190px!important;}
.pr200 {padding-right:200px!important;}

/* Padding top */

.pt0 {padding-top:0px!important;}
.pt1 {padding-top:1px!important;}
.pt2 {padding-top:2px!important;}
.pt3 {padding-top:3px!important;}
.pt4 {padding-top:4px!important;}
.pt5 {padding-top:5px!important;}
.pt6 {padding-top:6px!important;}
.pt7 {padding-top:7px!important;}
.pt8 {padding-top:8px!important;}
.pt9 {padding-top:9px!important;}
.pt10 {padding-top:10px!important;}
.pt11 {padding-top:11px!important;}
.pt12 {padding-top:12px!important;}
.pt13 {padding-top:13px!important;}
.pt14 {padding-top:14px!important;}
.pt15 {padding-top:15px!important;}
.pt16 {padding-top:16px!important;}
.pt17 {padding-top:17px!important;}
.pt18 {padding-top:18px!important;}
.pt19 {padding-top:19px!important;}
.pt20 {padding-top:20px!important;}
.pt21 {padding-top:21px!important;}
.pt22 {padding-top:22px!important;}
.pt23 {padding-top:23px!important;}
.pt24 {padding-top:24px!important;}
.pt25 {padding-top:25px!important;}
.pt26 {padding-top:26px!important;}
.pt27 {padding-top:27px!important;}
.pt28 {padding-top:28px!important;}
.pt29 {padding-top:29px!important;}
.pt30 {padding-top:30px!important;}
.pt35 {padding-top:35px!important;}
.pt40 {padding-top:40px!important;}
.pt45 {padding-top:45px!important;}
.pt50 {padding-top:50px!important;}
.pt55 {padding-top:55px!important;}
.pt60 {padding-top:60px!important;}
.pt65 {padding-top:65px!important;}
.pt70 {padding-top:70px!important;}
.pt75 {padding-top:75px!important;}
.pt80 {padding-top:80px!important;}
.pt85 {padding-top:85px!important;}
.pt90 {padding-top:90px!important;}
.pt95 {padding-top:95px!important;}
.pt100 {padding-top:100px!important;}
.pt110 {padding-top:110px!important;}
.pt120 {padding-top:120px!important;}
.pt130 {padding-top:130px!important;}
.pt140 {padding-top:140px!important;}
.pt150 {padding-top:150px!important;}
.pt160 {padding-top:160px!important;}
.pt170 {padding-top:170px!important;}
.pt180 {padding-top:180px!important;}
.pt190 {padding-top:190px!important;}
.pt200 {padding-top:200px!important;}

/* Padding bottom */

.pb0 {padding-bottom:0px!important;}
.pb1 {padding-bottom:1px!important;}
.pb2 {padding-bottom:2px!important;}
.pb3 {padding-bottom:3px!important;}
.pb4 {padding-bottom:4px!important;}
.pb5 {padding-bottom:5px!important;}
.pb6 {padding-bottom:6px!important;}
.pb7 {padding-bottom:7px!important;}
.pb8 {padding-bottom:8px!important;}
.pb9 {padding-bottom:9px!important;}
.pb10 {padding-bottom:10px!important;}
.pb11 {padding-bottom:11px!important;}
.pb12 {padding-bottom:12px!important;}
.pb13 {padding-bottom:13px!important;}
.pb14 {padding-bottom:14px!important;}
.pb15 {padding-bottom:15px!important;}
.pb16 {padding-bottom:16px!important;}
.pb17 {padding-bottom:17px!important;}
.pb18 {padding-bottom:18px!important;}
.pb19 {padding-bottom:19px!important;}
.pb20 {padding-bottom:20px!important;}
.pb21 {padding-bottom:21px!important;}
.pb22 {padding-bottom:22px!important;}
.pb23 {padding-bottom:23px!important;}
.pb24 {padding-bottom:24px!important;}
.pb25 {padding-bottom:25px!important;}
.pb26 {padding-bottom:26px!important;}
.pb27 {padding-bottom:27px!important;}
.pb28 {padding-bottom:28px!important;}
.pb29 {padding-bottom:29px!important;}
.pb30 {padding-bottom:30px!important;}
.pb35 {padding-bottom:35px!important;}
.pb40 {padding-bottom:40px!important;}
.pb45 {padding-bottom:45px!important;}
.pb50 {padding-bottom:50px!important;}
.pb55 {padding-bottom:55px!important;}
.pb60 {padding-bottom:60px!important;}
.pb65 {padding-bottom:65px!important;}
.pb70 {padding-bottom:70px!important;}
.pb75 {padding-bottom:75px!important;}
.pb80 {padding-bottom:80px!important;}
.pb85 {padding-bottom:85px!important;}
.pb90 {padding-bottom:90px!important;}
.pb95 {padding-bottom:95px!important;}
.pb100 {padding-bottom:100px!important;}
.pb110 {padding-bottom:110px!important;}
.pb120 {padding-bottom:120px!important;}
.pb130 {padding-bottom:130px!important;}
.pb140 {padding-bottom:140px!important;}
.pb150 {padding-bottom:150px!important;}
.pb160 {padding-bottom:160px!important;}
.pb170 {padding-bottom:170px!important;}
.pb180 {padding-bottom:180px!important;}
.pb190 {padding-bottom:190px!important;}
.pb200 {padding-bottom:200px!important;}

/* Margin left */

.ml-100 {margin-left:-100px!important;}
.ml-80 {margin-left:-80px!important;}
.ml-50 {margin-left:-50px!important;}
.ml-40 {margin-left:-40px!important;}
.ml-30 {margin-left:-30px!important;}
.ml-25 {margin-left:-25px!important;}
.ml-20 {margin-left:-20px!important;}
.ml-15 {margin-left:-15px!important;}
.ml-10 {margin-left:-10px!important;}
.ml-9 {margin-left:-9px!important;}
.ml-8 {margin-left:-8px!important;}
.ml-7 {margin-left:-7px!important;}
.ml-6 {margin-left:-6px!important;}
.ml-5 {margin-left:-5px!important;}
.ml-4 {margin-left:-4px!important;}
.ml-3 {margin-left:-3px!important;}
.ml-2 {margin-left:-2px!important;}
.ml-1 {margin-left:-1px!important;}
.ml0 {margin-left:0px!important;}
.ml1 {margin-left:1px!important;}
.ml2 {margin-left:2px!important;}
.ml3 {margin-left:3px!important;}
.ml4 {margin-left:4px!important;}
.ml5 {margin-left:5px!important;}
.ml6 {margin-left:6px!important;}
.ml7 {margin-left:7px!important;}
.ml8 {margin-left:8px!important;}
.ml9 {margin-left:9px!important;}
.ml10 {margin-left:10px!important;}
.ml11 {margin-left:11px!important;}
.ml12 {margin-left:12px!important;}
.ml13 {margin-left:13px!important;}
.ml14 {margin-left:14px!important;}
.ml15 {margin-left:15px!important;}
.ml16 {margin-left:16px!important;}
.ml17 {margin-left:17px!important;}
.ml18 {margin-left:18px!important;}
.ml19 {margin-left:19px!important;}
.ml20 {margin-left:20px!important;}
.ml25 {margin-left:25px!important;}
.ml30 {margin-left:30px!important;}
.ml35 {margin-left:35px!important;}
.ml40 {margin-left:40px!important;}
.ml45 {margin-left:45px!important;}
.ml50 {margin-left:50px!important;}
.ml55 {margin-left:55px!important;}
.ml60 {margin-left:60px!important;}
.ml65 {margin-left:65px!important;}
.ml70 {margin-left:70px!important;}
.ml75 {margin-left:75px!important;}
.ml80 {margin-left:80px!important;}
.ml85 {margin-left:85px!important;}
.ml90 {margin-left:90px!important;}
.ml95 {margin-left:95px!important;}
.ml100 {margin-left:100px!important;}
.ml110 {margin-left:110px!important;}
.ml120 {margin-left:120px!important;}
.ml130 {margin-left:130px!important;}
.ml140 {margin-left:140px!important;}
.ml150 {margin-left:150px!important;}
.ml160 {margin-left:160px!important;}
.ml170 {margin-left:170px!important;}
.ml180 {margin-left:180px!important;}
.ml190 {margin-left:190px!important;}
.ml200 {margin-left:200px!important;}

/* Margin right */

.mr-50 {margin-right:-50px!important;}
.mr-40 {margin-right:-40px!important;}
.mr-30 {margin-right:-30px!important;}
.mr-25 {margin-right:-25px!important;}
.mr-20 {margin-right:-20px!important;}
.mr-15 {margin-right:-15px!important;}
.mr-10 {margin-right:-10px!important;}
.mr-9 {margin-right:-9px!important;}
.mr-8 {margin-right:-8px!important;}
.mr-7 {margin-right:-7px!important;}
.mr-6 {margin-right:-6px!important;}
.mr-5 {margin-right:-5px!important;}
.mr-4 {margin-right:-4px!important;}
.mr-3 {margin-right:-3px!important;}
.mr-2 {margin-right:-2px!important;}
.mr-1 {margin-right:-1px!important;}
.mr0 {margin-right:0px!important;}
.mr1 {margin-right:1px!important;}
.mr2 {margin-right:2px!important;}
.mr3 {margin-right:3px!important;}
.mr4 {margin-right:4px!important;}
.mr5 {margin-right:5px!important;}
.mr6 {margin-right:6px!important;}
.mr7 {margin-right:7px!important;}
.mr8 {margin-right:8px!important;}
.mr9 {margin-right:9px!important;}
.mr10 {margin-right:10px!important;}
.mr11 {margin-right:11px!important;}
.mr12 {margin-right:12px!important;}
.mr13 {margin-right:13px!important;}
.mr14 {margin-right:14px!important;}
.mr15 {margin-right:15px!important;}
.mr16 {margin-right:16px!important;}
.mr17 {margin-right:17px!important;}
.mr18 {margin-right:18px!important;}
.mr19 {margin-right:19px!important;}
.mr20 {margin-right:20px!important;}
.mr25 {margin-right:25px!important;}
.mr30 {margin-right:30px!important;}
.mr35 {margin-right:35px!important;}
.mr40 {margin-right:40px!important;}
.mr45 {margin-right:45px!important;}
.mr50 {margin-right:50px!important;}
.mr55 {margin-right:55px!important;}
.mr60 {margin-right:60px!important;}
.mr65 {margin-right:65px!important;}
.mr70 {margin-right:70px!important;}
.mr75 {margin-right:75px!important;}
.mr80 {margin-right:80px!important;}
.mr85 {margin-right:85px!important;}
.mr90 {margin-right:90px!important;}
.mr95 {margin-right:95px!important;}
.mr100 {margin-right:100px!important;}
.mr110 {margin-right:110px!important;}
.mr120 {margin-right:120px!important;}
.mr130 {margin-right:130px!important;}
.mr140 {margin-right:140px!important;}
.mr150 {margin-right:150px!important;}
.mr160 {margin-right:160px!important;}
.mr170 {margin-right:170px!important;}
.mr180 {margin-right:180px!important;}
.mr190 {margin-right:190px!important;}
.mr200 {margin-right:200px!important;}

/* Margin top */

.mt-50 {margin-top:-50px!important;}
.mt-40 {margin-top:-40px!important;}
.mt-30 {margin-top:-30px!important;}
.mt-25 {margin-top:-25px!important;}
.mt-20 {margin-top:-20px!important;}
.mt-15 {margin-top:-15px!important;}
.mt-10 {margin-top:-10px!important;}
.mt-9 {margin-top:-9px!important;}
.mt-8 {margin-top:-8px!important;}
.mt-7 {margin-top:-7px!important;}
.mt-6 {margin-top:-6px!important;}
.mt-5 {margin-top:-5px!important;}
.mt-4 {margin-top:-4px!important;}
.mt-3 {margin-top:-3px!important;}
.mt-2 {margin-top:-2px!important;}
.mt-1 {margin-top:-1px!important;}
.mt0 {margin-top:0px!important;}
.mt1 {margin-top:1px!important;}
.mt2 {margin-top:2px!important;}
.mt3 {margin-top:3px!important;}
.mt4 {margin-top:4px!important;}
.mt5 {margin-top:5px!important;}
.mt6 {margin-top:6px!important;}
.mt7 {margin-top:7px!important;}
.mt8 {margin-top:8px!important;}
.mt9 {margin-top:9px!important;}
.mt10 {margin-top:10px!important;}
.mt11 {margin-top:11px!important;}
.mt12 {margin-top:12px!important;}
.mt13 {margin-top:13px!important;}
.mt14 {margin-top:14px!important;}
.mt15 {margin-top:15px!important;}
.mt16 {margin-top:16px!important;}
.mt17 {margin-top:17px!important;}
.mt18 {margin-top:18px!important;}
.mt19 {margin-top:19px!important;}
.mt20 {margin-top:20px!important;}
.mt25 {margin-top:25px!important;}
.mt30 {margin-top:30px!important;}
.mt35 {margin-top:35px!important;}
.mt40 {margin-top:40px!important;}
.mt45 {margin-top:45px!important;}
.mt50 {margin-top:50px!important;}
.mt55 {margin-top:55px!important;}
.mt60 {margin-top:60px!important;}
.mt65 {margin-top:65px!important;}
.mt70 {margin-top:70px!important;}
.mt75 {margin-top:75px!important;}
.mt80 {margin-top:80px!important;}
.mt85 {margin-top:85px!important;}
.mt90 {margin-top:90px!important;}
.mt95 {margin-top:95px!important;}
.mt100 {margin-top:100px!important;}
.mt110 {margin-top:110px!important;}
.mt120 {margin-top:120px!important;}
.mt130 {margin-top:130px!important;}
.mt140 {margin-top:140px!important;}
.mt150 {margin-top:150px!important;}
.mt160 {margin-top:160px!important;}
.mt170 {margin-top:170px!important;}
.mt180 {margin-top:180px!important;}
.mt190 {margin-top:190px!important;}
.mt200 {margin-top:200px!important;}

/* Margin bottom */

.mb-50 {margin-bottom:-50px!important;}
.mb-40 {margin-bottom:-40px!important;}
.mb-30 {margin-bottom:-30px!important;}
.mb-25 {margin-bottom:-25px!important;}
.mb-20 {margin-bottom:-20px!important;}
.mb-15 {margin-bottom:-15px!important;}
.mb-10 {margin-bottom:-10px!important;}
.mb-9 {margin-bottom:-9px!important;}
.mb-8 {margin-bottom:-8px!important;}
.mb-7 {margin-bottom:-7px!important;}
.mb-6 {margin-bottom:-6px!important;}
.mb-5 {margin-bottom:-5px!important;}
.mb-4 {margin-bottom:-4px!important;}
.mb-3 {margin-bottom:-3px!important;}
.mb-2 {margin-bottom:-2px!important;}
.mb-1 {margin-bottom:-1px!important;}
.mb0 {margin-bottom:0px!important;}
.mb1 {margin-bottom:1px!important;}
.mb2 {margin-bottom:2px!important;}
.mb3 {margin-bottom:3px!important;}
.mb4 {margin-bottom:4px!important;}
.mb5 {margin-bottom:5px!important;}
.mb6 {margin-bottom:6px!important;}
.mb7 {margin-bottom:7px!important;}
.mb8 {margin-bottom:8px!important;}
.mb9 {margin-bottom:9px!important;}
.mb10 {margin-bottom:10px!important;}
.mb11 {margin-bottom:11px!important;}
.mb12 {margin-bottom:12px!important;}
.mb13 {margin-bottom:13px!important;}
.mb14 {margin-bottom:14px!important;}
.mb15 {margin-bottom:15px!important;}
.mb16 {margin-bottom:16px!important;}
.mb17 {margin-bottom:17px!important;}
.mb18 {margin-bottom:18px!important;}
.mb19 {margin-bottom:19px!important;}
.mb20 {margin-bottom:20px!important;}
.mb25 {margin-bottom:25px!important;}
.mb30 {margin-bottom:30px!important;}
.mb35 {margin-bottom:35px!important;}
.mb40 {margin-bottom:40px!important;}
.mb45 {margin-bottom:45px!important;}
.mb50 {margin-bottom:50px!important;}
.mb55 {margin-bottom:55px!important;}
.mb60 {margin-bottom:60px!important;}
.mb65 {margin-bottom:65px!important;}
.mb70 {margin-bottom:70px!important;}
.mb75 {margin-bottom:75px!important;}
.mb80 {margin-bottom:80px!important;}
.mb85 {margin-bottom:85px!important;}
.mb90 {margin-bottom:90px!important;}
.mb95 {margin-bottom:95px!important;}
.mb100 {margin-bottom:100px!important;}
.mb110 {margin-bottom:110px!important;}
.mb120 {margin-bottom:120px!important;}
.mb130 {margin-bottom:130px!important;}
.mb140 {margin-bottom:140px!important;}
.mb150 {margin-bottom:150px!important;}
.mb160 {margin-bottom:160px!important;}
.mb170 {margin-bottom:170px!important;}
.mb180 {margin-bottom:180px!important;}
.mb190 {margin-bottom:190px!important;}
.mb200 {margin-bottom:200px!important;}



/* Font size */

.fs40 {font-size:40%!important;}
.fs45 {font-size:45%!important;}
.fs50 {font-size:50%!important;}
.fs55 {font-size:55%!important;}
.fs60 {font-size:60%!important;}
.fs65 {font-size:65%!important;}
.fs70 {font-size:70%!important;}
.fs75 {font-size:75%!important;}
.fs80 {font-size:80%!important;}
.fs85 {font-size:85%!important;}
.fs90 {font-size:90%!important;}
.fs95 {font-size:95%!important;}
.fs100 {font-size:100%!important;}
.fs105 {font-size:105%!important;}
.fs110 {font-size:110%!important;}
.fs115 {font-size:115%!important;}
.fs120 {font-size:120%!important;}
.fs125 {font-size:125%!important;}
.fs130 {font-size:130%!important;}
.fs140 {font-size:140%!important;}
.fs150 {font-size:150%!important;}
.fs160 {font-size:160%!important;}
.fs170 {font-size:170%!important;}
.fs180 {font-size:180%!important;}
.fs190 {font-size:190%!important;}
.fs200 {font-size:200%!important;}
.fs210 {font-size:210%!important;}
.fs220 {font-size:220%!important;}
.fs230 {font-size:230%!important;}
.fs240 {font-size:240%!important;}
.fs250 {font-size:250%!important;}
.fs260 {font-size:260%!important;}
.fs280 {font-size:280%!important;}
.fs300 {font-size:300%!important;}
.fs320 {font-size:320%!important;}
.fs340 {font-size:340%!important;}
.fs360 {font-size:360%!important;}
.fs380 {font-size:380%!important;}
.fs400 {font-size:400%!important;}

/* Line height */

.lh70 {line-height:0.7em;}
.lh75 {line-height:0.75em;}
.lh80 {line-height:0.8em;}
.lh85 {line-height:0.85em;}
.lh90 {line-height:0.9em;}
.lh95 {line-height:0.95em;}
.lh100 {line-height:1em;}
.lh105 {line-height:1.05em;}
.lh110 {line-height:1.1em;}
.lh115 {line-height:1.15em;}
.lh120 {line-height:1.2em;}
.lh125 {line-height:1.25em;}
.lh130 {line-height:1.3em;}
.lh140 {line-height:1.4em;}
.lh150 {line-height:1.5em;}
.lh160 {line-height:1.6em;}
.lh170 {line-height:1.7em;}
.lh180 {line-height:1.8em;}
.lh190 {line-height:1.9em;}
.lh200 {line-height:2em;}
.lh220 {line-height:2.2em;}
.lh240 {line-height:2.4em;}
.lh250 {line-height:2.5em;}
.lh260 {line-height:2.6em;}
.lh280 {line-height:2.8em;}
.lh300 {line-height:3em;}

/* Other typo */

.sml {font-size:90%;line-height: 1.37em;}
.ita {font-style:italic!important}
.bld {font-weight:bold;}
.tdn {text-decoration:none!important}
.tdl {text-decoration:line-through!important}
.filter-nomatch {display:none!important}
.nw {white-space: nowrap;}
.ell {overflow: hidden;text-overflow: ellipsis;}
.wba {word-break:break-all;}

/* Align */

.vat {vertical-align:top!important}
.vab {vertical-align:bottom!important}
.val {vertical-align:baseline!important}
.vam {vertical-align:middle!important}
.tac {text-align:center!important}
.tar {text-align:right!important}
.tal {text-align:left!important}

.nbr {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

/* Borders */

.bbs {border-bottom: 1px solid rgba(35, 118, 200, 0.25);}
.bts {border-top: 1px solid rgba(35, 118, 200, 0.25);}
.bbd {border-bottom: 1px dotted rgba(35, 118, 200, 0.4);}
.btd {border-top: 1px dotted rgba(35, 118, 200, 0.4);}
.bas {border: 1px solid rgba(35, 118, 200, 0.25);}
.bad {border: 1px dotted rgba(35, 118, 200, 0.4);}

.br2 {border-radius:2px!important}
.br4 {border-radius:4px!important}
.br6 {border-radius:6px!important}
.br8 {border-radius:8px!important}
.br10 {border-radius:10px!important}
.br100 {border-radius:100px!important}


/*font families*/
.monospace {
    font-family: Consolas, "Liberation Mono", "Nimbus Mono L", "Andale Mono", "Courier New", monospace !important;
}

a {
    outline : none !important;
}
